/* paletas de cores do site: 030505 (rich black), 485665 (azul escuro), 8E7C93 (lavanda), D0A5C0 (lilás), F6C0D0 (orchid pink); */


@font-face {
	font-family: "lavanderia-regular";
	src: local("lavanderia-regular"), url("https://drive.google.com/file/d/1aUTZQvxbHuRDJwuAaGkT72r8EUn7N-2P/view?usp=sharing");
}

body {
	background-color: #E6DBD0;
}

p {
	font-family: Candara, Arial, Helvetica, sans-serif;
	color: #8E7C93 ;
	font-size: 15px;
}

h1 {
	font-family:"Lavanderia";
	font-size: 45px;
	color: #7D6167;
}

h2 {
	font-family: Candara, Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #C37D92;
}

h3 {
 	font-family: Candara, Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #8E7C93;
}

li {

	font-family: Candara, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #8E7C93;
}

a {
	font-family: Candara, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #8E7C93;
}

.banner div{
	display: block;
	width:240px;
	height:400px;
	background-image: url("http://i68.tinypic.com/o0qja0.png"); 
	background-repeat:no-repeat;
}
/* .mapa iframe{
	width: "800";
	height: "600";
	border:"0";
} */
/*style.css*/
body {
    margin: 0;
}

table, th, td {
    border: 1px solid green;
    border-collapse: collapse;
}

.menu header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.menu header nav {
	float: right;
}

.menu header li {
    float: left;
}

.menu header li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu header li a:hover:not(.active) {
    background-color: #ddd;
}

.menu header li a.active {
    color: white;
    background-color: #4CAF50;
}

.menu header li:last-child {
    border-right: none;
}

.menu .default {
    padding:20px;
    /* margin-top:30px; */
    /* background-color:#1abc9c; */
    height:1500px;
}